<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gupy Test</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://compass.gupy.io/statics/assets/css/career.css"
    />
  </head>
  <body>
    {% for company in list_companies %}
    <h1>{{ company.name }}</h1>
    <div>{{ company.get_html_vagance()|safe }}</div>
    {% endfor %}
  </body>
</html>
